#title {
    text-align: center;
}

#form_container {
    background-color: grey;
    width: 50%;
    margin: 3% auto 5% auto;
    border-radius: 20px;
    text-align:center;
}

#name {
    margin-left: 10%;
    float: left;
}
#name input {
    margin-left: 5px;
}

#date {
    margin-right: 20%;
    float: right;
}
#date input {
    margin-left: 5px;
}

#url {
    display: flex;
    margin: 0 auto;
    width: 55%;
}
#url input {
    margin-left: 5px;
    width: 300px;
}

.checkboxes {
    display: inline-block;
    vertical-align: top;
    background: white;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    width: 200px;
    height: 280px;
    margin: 10px;
    border-radius: 13px;
}

label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

#download_btn {

}