doctype html
html
  head
    style
      include displayPage.css
    h2= title
  body
    // Need to delegate space for each div
    div(class='links_display')
      h3 
        a(name="math") Math
      each val in math
        a(href='/SITES/'+val+'/index.html')= val
    div(class='links_display')
      h3 
        a(name='reading') Reading
      each val in reading
        a(href='/SITES/'+val+'/index.html')= val
    div(class='links_display')
      h3 
        a(name='science') Science
      each val in science
        a(href='/SITES/'+val+'/index.html')= val