#title {
    text-align: center;
}

#page_container {
    display: flex;
}

#form_container {
    background-color: grey;
    width: 55%;
    margin: 3% auto 5% auto;
    border-radius: 20px;
    text-align:center;
}

#name {
    margin-left: 10%;
    float: left;
}
#name input {
    margin-left: 5px;
}

#date {
    margin-right: 20%;
    float: right;
}
#date input {
    margin-left: 5px;
}

#url {
    display: flex;
    width: 100%;
}

#url-container {
    margin: 15px auto;
}

#url input {
    margin-left: 5px;
    width: 300px;
}

.checkboxes {
    display: inline-block;
    vertical-align: top;
    background: white;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    width: 200px;
    height: 280px;
    margin: 10px;
    border-radius: 13px;
}

label {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

#download_btn {

}


/* Download progress */
#download_progress_container {
    background-color: pink;
    width: 40%;
    margin: 0 auto;
    border-radius: 5%;
}

#download_progress_title {
    text-align: center;
    width: 100%
}

#download_progress_contents {
    height: 500px;
    overflow-y: scroll;
}

.queue_item {
    background-color: rgb(223, 110, 223);
    display: flex;
    border-radius: 15px;
    margin: 7% 3%;
    padding: 0 5% 3% 5%;
}

.queue_item_details {
    width: 60%;
}

.queue_item_details div {
    margin-right: 5%;
}

.queue_item_status {
    width: 40%;
    display: flex;
}

.queue_item_status div {
    width: 50%;
    margin-left: 3%;
    margin-right: 3%;
}