/* DYNAMICLIST and DYNAMICFORM styles */

#dynamiclist { font-family: Arial, Helvetica, sans-serif; }

#dynamicform { font-family: Arial, Helvetica, sans-serif; }

form.dynamicform {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
padding-left: 0px;
padding-right: 0px; 
border: 0px;
}

input.dynamicformInput {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
padding-left: 3px;
padding-right: 3px;  
padding-top: 2px;
padding-bottom: 2px;
border: 1px solid #89B4E4; 
background-color: #FFFFFF ! important;
}

input.dynamicformInputCompact {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
padding-left: 3px;
padding-right: 3px;  
padding-top: 2px;
padding-bottom: 2px;
border: 1px solid #89B4E4; 
background-color: #FFFFFF ! important;
}

textarea.dynamicformTextarea {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
padding-left: 3px;
padding-right: 3px;  
padding-top: 2px;
padding-bottom: 2px;
border: 1px solid #89B4E4; 
height: 75px;
width: 98%;
background-color: #FFFFFF ! important;
}

input.dynamicformInputDate {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
padding-left: 3px;
padding-right: 3px;  
padding-top: 2px;
padding-bottom: 2px;
border: 1px solid #89B4E4; 
width: 61px;
background-color: #FFFFFF ! important;
}

input.dynamicformInputOther{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
padding-left: 3px;
padding-right: 3px;  
padding-top: 2px;
padding-bottom: 2px;
border: 1px solid #89B4E4; 
width: 50%;
background-color: #FFFFFF ! important;
}

input.dynamicformFile {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
width: 50%;
background-color: #FFFFFF ! important;
}

input.dynamicformButton {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: normal;
color: #000000;
background-color: #FFFFFF ! important;
}

select.dynamicformSelect, option.dynamicformOption {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
border: 1px inset #89B4E4;
background-color: #FFFFFF ! important;
}

select.dynamicformSelectMin, option.dynamicformOptionMin {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #0D2498;
border: 1px inset #89B4E4;
background-color: #FFFFFF ! important;
}

checkbox.dynamicformCheckbox, ratio.dynamicformOption {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
background-color: White;
border: 1px solid #89B4E4; 
/* border: 1px inset #89B4E4; */
}


/* outer table */
td.dynamiclistTblPaging
{
vertical-align: top;
}

td.dynamiclistTblTtl, td.dynamicformTblTtl
{
background-color: #1F44A6;
vertical-align: top;
}

.dynamiclistTblTtlText
{
color: #FFFFFF;
font-size: 14px;
font-weight: bold;
padding-left: 15px;
padding-right: 15px;
line-height: 30px;
}

.dynamicformTblTtlText
{
color: #FFFFFF;
font-size: 14px;
font-weight: bold;
padding-left: 10px;
padding-right: 15px;
line-height: 25px;
}

.dynamicformTblDescText
{
color: #FFFFFF;
font-size: 12px;
padding-left: 10px;
padding-right: 15px;
line-height: 25px;
}

.dynamicformTblDescError
{
color: #FFFF00;
font-size: 12px;
font-weight: bold;
line-height: 25px;
}

/* right column */
td.dynamiclistRightColumnSpacer, td.dynamicformRightColumnSpacer
{
vertical-align: top;
text-align: left;
width: 13px; 
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
margin: 0px;
}

td.dynamiclistRightColumn
{
background-color: #89B4E4;   
vertical-align: top;
text-align: left;
width: 25%;
padding-left: 5px;
padding-right: 15px;
padding-top: 11px;
padding-bottom: 11px;
}

td.dynamicformRightColumn
{
/*background-color: ##Attributes.TableBorder#;*/   /* This doesn't exist */
vertical-align: top;
text-align: left;
width: 25%;
padding-left: 5px;
padding-right: 15px;
padding-top: 9px;
padding-bottom: 9px;
}

.dynamiclistRightColumnText
{
color: #0D2498;
font-size: 11px;  
}

a.dynamiclistRightColumnLnk, a.dynamiclistRightColumnLnk:visited 
{
color: #0D2498;
text-decoration: underline;
}

a.dynamiclistRightColumnLnk:hover {
color: #FFFFFF;
text-decoration: underline;
}


/* inner table */
table.dynamiclistInnerTbl
{
background-color: #CDDEF5;
}

table.dynamicformInnerTbl
{
background-color: #89B4E4;
}

tr.dynamiclistTblHdr
{
color: #89B4E4;
font-size: 11px;
font-weight: bold;
text-align: left;
vertical-align: bottom;
height: 20px; 
}

tr.dynamicformTblHdr
{
background-color: #89B4E4;
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
text-align: right;
vertical-align: bottom;
height: 19px;
}

tr.dynamicformTblFtr
{
background-color: #89B4E4;
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
text-align: center;
vertical-align: bottom;
height: 19px;
}

.dynamiclistTblHdrLnk, a.dynamiclistTblHdrLnk, a.dynamiclistTblHdrLnk:visited, a.dynamicformTblHdrLnk, a.dynamicformTblHdrLnk:visited 
{
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
text-decoration: none;
}

tr.dynamiclistTblPagingRow
{
color: #0D2498;
font-size: 12px;
text-align: left;
vertical-align: top;
}

a.dynamiclistTblPagingLnk, a.dynamiclistTblPagingLnk:visited
{
color: #0D2498;
font-size: 12px;
text-decoration: none;
}

a.dynamiclistTblPagingLnk:hover { text-decoration: underline; }

.dynamiclistTblPagingLnkDead
{
color: #AAAAAA;
font-size: 12px;
text-decoration: none;
}

.dynamiclistTblPagingLnkActive
{
color: #000000;
font-size: 12px;
font-weight: bold;
text-decoration: none;
}

a.dynamiclistTblHdrLnk:hover { text-decoration: none; }

a.dynamicformTblHdrLnk:hover { color: #FFFFFF; }

th.dynamiclistTblHdrLt { background-color: #89B4E4; color: #FFFFFF;}

th.dynamiclistTblHdrDrk { background-color: #1F44A6; color: #FFFFFF;}

th.dynamiclistTblHdrMouseOver { background-color: #5F99DB; color: #FFFFFF;}

tr.dynamiclistTblRow
{
background-color: #F5F8FD;
color: #0D2498;
font-size: 11px;
text-align: left;
vertical-align: top;
}

tr.dynamiclistTblRowMouseOver
{
background-color: #CDDEF5;
color: #0D2498;
font-size: 11px;
text-align: left;
vertical-align: top;
}

td.dynamicformTblDataView
{
background-color: #F5F8FD;
color: #0D2498;
font-size: 11px;
text-align: left;
vertical-align: top;
}

td.dynamicformTblDataEdit
{
background-color: #F5F8FD;
color: #0D2498;
font-size: 11px;
text-align: left;
vertical-align: middle;
padding: 2px; 
padding-left: 5px;
padding-right: 5px;
width: 75%;
}

.dynamicformTblDataLight
{
color: #F5F8FD;
}

td.dynamiclistIcons
{
text-align: center;
vertical-align: top;
padding-left: 0px;
padding-right: 0px;
width: 10%;
}

td.dynamicformLbl
{
background-color: #89B4E4;
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
text-align: left;
vertical-align: top;
padding-left: 9px;
width: 25%;
}

td.dynamicformLblError
{
background-color: #89B4E4;
color: #FFFF00;
font-size: 11px;
font-weight: bold;
text-align: left;
vertical-align: top;
padding-left: 9px;
width: 25%;
}

td.dynamicformSpacerDark
{
/*background-color: ##Attributes.TableBorder#;*/ /* This doesn't exist */
padding: 0px;
width: 1px;
font-size:1px !important;
}

td.dynamicformSpacerLight
{
background-color: #F5F8FD;
padding: 0px;
font-size:1px !important;
}

td.dynamicformTblSpacer
{
/*background-color: ##Attributes.PageBG#;*/  /* This doesn't exist */
height: 1px;
padding: 0px;
}

a.dynamiclistLnk, a.dynamiclistLnk:visited 
{
color: #0D2498;
text-decoration: none;
}

a.dynamiclistLnk:hover {
text-decoration: underline;
}

div.protected {
display: none;
}